
:global .keycloak--realm-selector__dropdown {
  --pf-c-dropdown__toggle--Color: var(--pf-c-nav__link--m-current--Color);
  --pf-c-dropdown__toggle--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
  --pf-c-dropdown__toggle--before--BorderTopColor: var(--pf-global--BorderColor--200);
  --pf-c-dropdown__toggle--before--BorderRightColor: var(--pf-global--BorderColor--200);
  --pf-c-dropdown__toggle--before--BorderBottomColor: var(--pf-global--BorderColor--100);
  --pf-c-dropdown__toggle--before--BorderLeftColor: var(--pf-global--BorderColor--200);

  margin-top: var(--pf-c-nav__link--PaddingTop);
  /* margin-bottom: var(--pf-c-nav__link--PaddingBottom);  this makes the menu separate from the button */
  margin-left: var(--pf-c-nav__link--PaddingLeft);
  margin-right: var(--pf-c-nav__link--PaddingRight);
}
